*{
	border: 0;
	margin: 0;
	padding: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,header,footer,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #e8e8e8;
}
.container {
	max-width: 815px;
	padding-top: 123px;
	padding-bottom: 123px;
	margin: 0 auto;
}
.block-title {
	min-width: 413px;
color: #000000;
text-align: left;
text-transform: uppercase;
letter-spacing: 2.8px;
margin-bottom: 24px;
}
.block-menu{
	margin-bottom: 137px;
}
.block-menu-list li {
	margin-bottom: 13px;
	color: #273d46;
font-size: 20px;
}
.block-menu-list li::before{
	content: url("../img/icons/check_icon.png");
	margin-right: 5px;
}
.block-menu-list li:nth-child(1){
text-decoration: line-through;
}
.block-menu-list li:nth-child(2){
font-weight: 700;
}
.block-menu-list li:nth-child(2):hover{
	color: #d55a5a;
}
.block-menu-list li:nth-child(2):hover::before{
	content: url("../img/icons/check_icon.webp");
}
.block-menu-list li:nth-child(3){
font-style: italic;
}
.block-menu-list li:nth-child(4){
text-transform: uppercase;
}
.inputtext {
	margin-bottom: 125px;
	width: 292px;
height: 50px;
border: 1px solid #b0b0b0;
padding: 0 15px;
}
.inputtext:focus{
box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);
border: 1px solid #7fbed5;
}
.buttontext {
	display: block;
width: 199px;
height: 44px;
box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
border-radius: 20px;
background-color: #80b7b3;
}
.buttontext span{
color: #ffffff;
line-height: 44px;
text-transform: uppercase;
letter-spacing: 2.8px;
position: relative;
}
.buttontext span::after{
	position: absolute;
	content: url("../img/icons/Shape_2\ \(2\).svg");
	margin-left: 10px;
	margin-top: 2px;
	

}

.buttontext:hover{
background-color: #3a5856;
}
.buttontext:active{
	background-color: #818181;
}
.bottomtext {
	margin-top: 118px;
	color: #000000;
	font-size: 18px;
	line-height: 28px;	
}
.bottomtext p{
	margin-bottom: 43px;
}
.text-first-line {
	max-width: 761px;
}
.text-first-line::first-line{
	color: #ff0000;
}
.text-first-letter {
max-width: 765px;
}
.text-first-letter::first-letter{
	color: #ff0000;
	font-size: 25px;
}

